<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797134760645-4uan9o17hf1713sj31d29qmrcbj2kafu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797134760645-4uan9o17hf1713sj31d29qmrcbj2kafu</string>
	<key>API_KEY</key>
	<string>AIzaSyBrhwD9MraNNGIbrLIU3c38ZAS2keuWILI</string>
	<key>GCM_SENDER_ID</key>
	<string>797134760645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nextchart.waypoint-swiftui</string>
	<key>PROJECT_ID</key>
	<string>waypoint-52d28</string>
	<key>STORAGE_BUCKET</key>
	<string>waypoint-52d28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797134760645:ios:aca4620bbfa8be000f5eac</string>
</dict>
</plist>